* {
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
}

#header{
	background: url('../img/bg.jpg'), rgba(255,255,255,0.5);
  background-size: cover;
	height: 100vh;
	z-index: -1;
}
#header-top{
	max-width: 1140px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 2px 20px;
}
#header-top span{
	color: #fff;
	padding: 20px 0px;
	display: block;
	font-weight: bold;
}

#header-container{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	width: 100%;
	z-index: 2;
}
.shadow{
	width: 100%; 
	height: 100vh; 
	position: absolute; 
	z-index: 1; 
	background-color: rgba(0,0,0,0.5);
}
#logo-img {
	display: block;
	width: 300px;
}
.nav{
	padding: 20px 0px;
}
.nav-link{
	color: #cdcdcd;
	margin-left: 20px;
	margin-right: 20px;
}
.nav-link:hover{
  color: #ff6700;
  transition: all .4s;
  text-decoration: none;
}
.header_text{
	top: 40vh;
	width: 100%;
	text-align: center;
	position: absolute;
	color: #fff;
	z-index: 2;
}
.header_text h1{
	font-size: 8vh;
	font-family: sans-serif;
	text-shadow: 0px 0px 15px black;
}
.header_text h2{
	font-family: monospace;
}
.section-1 {
	
}
.section-1_header h1{
	font-size: 8vh;
	font-family: sans-serif;
	text-align: center;
	padding-top: 3vh;
	padding-bottom: 3vh;
}
.section-1_content {
   height:100vh;
   width: 100%;

}
.content{
	text-align: justify;
}


.shaped {
   background: black url('../img/shape1.jpg') center top no-repeat;
   height:100vh;
   width:40%;
   background-size:cover;
   float:right;
   shape-outside: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
   shape-margin:10px;
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
           clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%)
}
.shaped2 {
   background: black url('../img/shape2.jpg') center top no-repeat;
   height:100vh;
   width:40%;
   background-size:cover;
   float:left;
   shape-outside: polygon(0 0, 25% 0, 100% 100%, 0 100%);
   shape-margin:30px;
   -webkit-clip-path: polygon(0 0, 25% 0, 100% 100%, 0 100%);
           clip-path: polygon(0 0, 25% 0, 100% 100%, 0 100%)
}
.shaped3 {
   background: black url('../img/shape4.jpg') center top no-repeat;
   height:100vh;
   width:40%;
   background-size:cover;
   float:right;
   shape-outside: polygon(20% 0, 100% 0, 100% 100%, 25% 100%);
   shape-margin:10px;
   -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 25% 100%);
           clip-path: polygon(20% 0, 100% 0, 100% 100%, 25% 100%)
}
.shaped4 {
   background: black url('../img/shape3.jpg') center top no-repeat;
   height:100vh;
   width:40%;
   background-size:cover;
   float:left;
   shape-outside: polygon(0 0, 80% 0, 50% 100%, 0 100%);
   shape-margin:30px;
   -webkit-clip-path: polygon(0 0, 80% 0, 50% 100%, 0 100%);
           clip-path: polygon(0 0, 80% 0, 50% 100%, 0 100%);
}


#footer{
	width: 100%;
	background-color: #000;
}
#footer-wrap-1{
	max-width: 1140px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 20px 20px;
}
#footer-wrap-1 span{
	color: #fff;
	padding: 20px 0px;
	display: block;
	font-weight: bold;
	font-size: 140%;
}
#footer-wrap-2{
	max-width: 1140px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	padding: 5px 20px 10px 20px;
}
.footer-nav-link{
	display: block;
	color: #fff;
	font-size: 110%;
	font-weight: 100;
}
.footer-nav-link:hover{
  color: #ff6700;
  transition: all .4s;
  text-decoration: none;
}
#footer-logo{
	width: 300px;
}
.social-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.social{
  color: #fff;
  list-style: none;
  padding: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  width: 450px;
}
.social__item{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.social__item a{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.facebook:hover a{
  color: #396cd3;
  transition: all .4s;
}
.facebook:hover{
  color: #396cd3;
  border-color: #396cd3;
  box-shadow: 0px 0px 20px #396cd3;
}
.youtube:hover a{
  color: #ff0000;
  transition: all .4s;
}
.youtube:hover{
  color: #ff0000;
  border-color: #ff0000;
  box-shadow: 0px 0px 20px #ff0000;
}
.instagram:hover a{
  color: #ff0085;
  transition: all .4s;
}
.instagram:hover{
  color: #ff0085;
  border-color: #ff0085;
  box-shadow: 0px 0px 20px #ff0085;
}
.twitter:hover a{
  color: #1EA1F2;
  transition: all .4s;
}
.twitter:hover{
  color: #1EA1F2;
  border-color: #1EA1F2;
  box-shadow: 0px 0px 20px #1EA1F2;
}

.fadeIn {
  animation-delay: .3s;
}

#header-top nav a.nav-link-1{
  animation-delay: .5s;
}
#header-top nav a.nav-link-2{
  animation-delay: .6s;
}
#header-top nav a.nav-link-3{
  animation-delay: .7s;
}

#header-top span{
  animation-delay: .9s;
}