* {
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
}

#header{
	background: url('../img/bg.jpg'), rgba(255,255,255,0.5);
  background-size: cover;
	height: 100vh;
	z-index: -1;
}
#header-top{
	max-width: 1140px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 2px 20px;
}
#header-top span{
	color: #fff;
	padding: 20px 0px;
	display: block;
	font-weight: bold;
}

#header-container{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	width: 100%;
	z-index: 2;
}
.shadow{
	width: 100%; 
	height: 100vh; 
	position: absolute; 
	z-index: 1; 
	background-color: rgba(0,0,0,0.5);
}
#logo-img {
	display: block;
	width: 300px;
}
.nav{
	padding: 20px 0px;
}
.nav-link{
	color: #cdcdcd;
	margin-left: 20px;
	margin-right: 20px;
}

.header_text{
	top: 40vh;
	width: 100%;
	text-align: center;
	position: absolute;
	color: #fff;
	z-index: 2;
}
.header_text h1{
	font-size: 8vh;
	font-family: sans-serif;
	text-shadow: 0px 0px 15px black;
}
.header_text h2{
	font-family: monospace;
}
.section-1 {
	
}
.section-1_header h1{
	font-size: 8vh;
	font-family: sans-serif;
	text-align: center;
	padding-top: 3vh;
	padding-bottom: 3vh;
}
.section-1_content {
   height:100vh;
   width: 100%;

}
.content{
	text-align: justify;
}
.shaped {
   background: black url('../img/shape1.jpg') center top no-repeat;
   height:100vh;
   width:40%;
   background-size:cover;
   float:right;
   shape-outside: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
   shape-margin:10px;
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
           clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%)
}
.shaped2 {
   background: black url('../img/shape2.jpg') center top no-repeat;
   height:100vh;
   width:40%;
   background-size:cover;
   float:left;
   shape-outside: polygon(0 0, 25% 0, 100% 100%, 0 100%);
   shape-margin:30px;
   -webkit-clip-path: polygon(0 0, 25% 0, 100% 100%, 0 100%);
           clip-path: polygon(0 0, 25% 0, 100% 100%, 0 100%)
}

